<h3 class="ui header">{{t 'forms.teacher-e.caption'}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.surname
    class=(if model.errors.surname 'error' '')
    label=(t 'forms.teacher-e.surname-caption')
  }}
  {{flexberry-validationmessage error=model.errors.surname pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.name
    class=(if model.errors.name 'error' '')
    label=(t 'forms.teacher-e.name-caption')
  }}
  {{flexberry-validationmessage error=model.errors.name pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.middleName
    class=(if model.errors.middleName 'error' '')
    label=(t 'forms.teacher-e.middleName-caption')
  }}
  {{flexberry-validationmessage error=model.errors.middleName pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.teacher-e.discipline-caption'}}</label>
  {{
    flexberry-groupedit
    componentName="disciplineGroupEdit"
    mainModelProjection=modelProjection
    modelProjection=modelProjection.attributes.discipline
    content=model.discipline
    readonly=readonly
    orderable=false
    class=(if model.errors.discipline 'error' '')
  }}
  {{flexberry-validationmessage error=model.errors.discipline pointing="pointing"}}
</div>

</form>
